@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.underline-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}
.underline-animation:hover::after {
  width: 100%;
}
